<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="dbschema.plugin.commands.category"
            name="DB Schema">
      </category>
      <command
            categoryId="dbschema.plugin.commands.category"
            id="dbschema.plugin.commands.configureCommand"
            name="Configure DB">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.earthling.utility.eclipseplugin.dbschema.ConfigureDBSHandler"
            commandId="dbschema.plugin.commands.configureCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="dbschema.plugin.commands.configureCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+6">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="dbschema.plugin.menus.configureMenu"
               label="DB Schema"
               mnemonic="D">
            <command
                  commandId="dbschema.plugin.commands.configureCommand"
                  id="dbschema.plugin.menus.configureCommand"
                  mnemonic="C">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="dbschema.plugin.toolbars.dbSchemaToolbar">
            <command
                  commandId="dbschema.plugin.commands.configureCommand"
                  icon="icons/sample.png"
                  id="dbschema.plugin.toolbars.configureCommand"
                  tooltip="DB Schema Configure">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
</plugin>
